# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test & coverage
htmlcov/
.coverage
.tox/

# Docker
/app/appdata/
